@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400, 800, 700, 800italic, 700italic, 400italic, 300italic, 300");

/* GRID 3 */
/* Mozilla */

@font-face {
  font-family:"FF DIN Pro";
  src:url("fonts/ff-din-pro.eot");
  src:local("☺"), url("../assets/fonts/ff-din-pro.woff") format("woff"), url("../assets/fonts/ff-din-pro.ttf") format("truetype"), url("../assets/fonts/ff-din-pro.svg") format("svg");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:"FFDINWebMedium";
  src:url("../assets/fonts/31F820_0_0.eot");
  src:url("../assets/fonts/31F820_0_0.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/31F820_0_0.woff2") format("woff2"), url("../assets/fonts/31F820_0_0.woff") format("woff"), url("../assets/fonts/31F820_0_0.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:"OpenSans";
  src:url("../assets/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}

* {
  outline:none;
  -webkit-tap-highlight-color:transparent;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display:block;
}

body {
  line-height:1;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content:"";
  content:none;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

input, select, textarea {
  box-sizing:content-box;
  -webkit-margin-before:0;
  -webkit-margin-after:0;
}

.grid-3:after, .grid-3 > div:after {
  content:"";
  clear:both;
  display:block;
}

.grid-3 > div {
  float:left;
  margin-right:2.5%;
  width:31.66667%;
}

.grid-3 > div:nth-child(3n) {
  margin-right:0%;
  /* GRID 12 */
}

.grid-12:after, .grid-12 > div:after {
  content:"";
  clear:both;
  display:block;
}

.grid-12 > div {
  float:left;
  margin-right:1.40845%;
}

.grid-12 > div:last-child {
  margin-right:0%;
}

.grid-12-1 {
  width:7.04225%;
}

.grid-12-2 {
  width:15.49296%;
}

.grid-12-3 {
  width:23.94366%;
}

.grid-12-4 {
  width:32.39437%;
}

.grid-12-5 {
  width:40.84507%;
}

.grid-12-6 {
  width:49.29577%;
}

.grid-12-7 {
  width:57.74648%;
}

.grid-12-8 {
  width:66.19718%;
}

.grid-12-9 {
  width:74.64789%;
}

.grid-12-10 {
  width:83.09859%;
}

.grid-12-11 {
  width:91.5493%;
}

.grid-12-12 {
  width:100%;
  /* Classic CSS */
}

a {
  color:#006595;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

div > *:first-child {
  margin-top:0px !important;
}

div > *:last-child {
  margin-bottom:0px !important;
}

h1, h2, h3, h4, h5, h6, ul, ol, p {
  margin:25px 0px;
}

h1 {
  font-family:"FFDINWebMedium", "Open Sans", "Helvetica", sans-serif;
  font-size:50px;
  font-weight:bold;
  line-height:100%;
}

h2 {
  font-family:"FFDINWebMedium", "Open Sans", "Helvetica", sans-serif;
  font-size:44px;
  font-weight:bold;
  line-height:100%;
}

h3 {
  font-family:"FFDINWebMedium", "Open Sans", "Helvetica", sans-serif;
  font-size:22px;
  font-weight:bold;
  line-height:125%;
}

h4, h5, h6 {
  font-family:"FFDINWebMedium", "Open Sans", "Helvetica", sans-serif;
  font-size:16px;
  font-weight:bold;
  line-height:125%;
}

ol {
  list-style:1;
  font-size:125%;
  line-height:125%;
}

ul {
  list-style:disc;
  font-size:125%;
  line-height:125%;
}

ol li {
  margin:5px 0px 5px 25px;
  padding-left:5px;
}

ul li {
  margin:5px 0px 5px 25px;
  padding-left:5px;
}

.indented {
    padding:0px 20px;
    font-size:100%;
    line-height:100%;
}

ul li ul {
  margin:5px 0px;
  /* Custom Code */
}

.uppercase {
  text-transform:uppercase;
}

.bold {
  font-weight:800;
}

section {
  padding:50px 0px;
}

.hover:hover img {
  animation:hover linear 0.5s;
}

@keyframes hover {
  0% {
    opacity:1;
  }
  50% {
    opacity:0.75;
  }
  100% {
    opacity:1;
  }
}

footer {
  width:100%;
  background:#35b0e5;
  padding:50px 0px;
  margin-top:50px;
}

header {
  position:relative;
  width:100%;
  height:100vh;
  min-height:500px;
  background-size:cover;
  background-repeat:no-repeat;
  margin-bottom:50px;
}

header .gradient-fix, header .content {
  min-height:500px;
}

header > div {
  height:inherit;
}

header .content {
  position:relative;
  z-index:10;
}

header .gradient-fix {
  z-index:5;
  width:100%;
  position:absolute;
  height:inherit;
  left:0px;
  top:0px;
  background:-moz-linear-gradient(top, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 0) 35%, #fff 100%);
  background:-webkit-linear-gradient(top, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 0) 35%, #fff 100%);
  background:linear-gradient(to bottom, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 0) 35%, #fff 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffffff", endColorstr="#ffffff", GradientType=0);
}

header .logo {
  width:120px;
  margin:0px auto;
  display:block;
}

footer .logo {
  width:288px;
  height:136px;
  display:block;
}

header .logo img, footer .logo img {
  width:inherit;
  display:block;
}

header .buttons {
  margin-bottom:50px;
}

header .buttons a {
  margin:0px 9px;
}

.small {
  font-size:12px;
}

header .sponsors {
  width:120px;
  margin:0px auto;
}

header .sponsors img {
  height:30px;
  display:block;
  margin:0px auto;
}

header #caret-down {
  position:absolute;
  bottom:20px;
  left:50%;
  margin-left:-35px;
  z-index:20;
  display:block;
  height:70px;
  width:70px;
  box-sizing:border-box;
  background-image:url("../assets/img/arrow.png");
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
  cursor:pointer;
  animation-name:bounce;
  animation-duration:3s;
  animation-fill-mode:both;
  animation-iteration-count:infinite;
}

@keyframes bounce {
  0%, 10%, 15%, 100% {
    transform:translateY(0);
    opacity:0.75;
  }
  5% {
    transform:translateY(-30px);
    opacity:1;
  }
  12.5% {
    transform:translateY(-15px);
    opacity:1;
  }
}
.color-white {
  color:#fff;
}

footer .menu > div {
  float:right;
  margin-left:100px;
}

footer .menu ul {
  padding:0px;
  margin:0px;
  list-style:none;
}

footer .menu ul li {
  padding:0px;
  margin:7px 0px;
  list-style:none;
}

footer .menu ul li a {
  color:#fff;
  font-size:12px;
  transition:all 250ms linear;
}

footer .menu ul li a:hover, footer p.social > a:hover {
  color:#fff;
  text-decoration:none;
}

footer .menu > div:last-child {
  margin-left:0px;
}

footer p.social > a:last-child {
  margin-right:0px;
}

footer p.social > a {
  color:#fff;
  transition:all 250ms linear;
  font-size:28px !important;
  margin-right:20px;
}

.font-0 {
  font-size:0px;
}

footer .copyright {
  border-top:1px rgba(255, 255, 255, 0.15) dashed;
  margin-top:23px !important;
  padding-top:30px;
}

footer .copyright a {
  color:#fff;
  text-decoration:none;
}

footer .copyright a:hover {
  text-decoration:none !important;
}

footer .copyright p {
  margin:0px;
}

section.page {
  min-height:750px;
  margin-top:100px;
}

section.page h1, section.page h2, section.page h3, section.page h4, section.page h5, section.page h6 {
  margin-top:50px;
  font-weight:800;
}

section.page h1 {
  font-size:66px;
}

section.page h2 {
  font-size:34px;
}

section.page h3 {
  font-size:26px;
}

section.page p {
  font-size:22px;
}

section.page .content img {
  max-width:100%;
  height:auto;
}

section.page-category {
  min-height:0px !important;
  padding-bottom:0px !important;
}

.content-category {
  min-height:735px;
}

.content-category p.error {
  font-size:22px;
}

img.unveil {
  opacity:0;
  transition:all 500ms linear;
}

div#header {
  z-index:900;
  top:0px;
  position:fixed;
  width:100%;
  box-shadow:0px 0px 15px transparent;
  background-color:rgba(255, 255, 255, 0);
  padding:25px 0px 25px;
  transition:all 250ms linear;
}

div#header .header-logo {
  position:relative;
  top:1px;
}

div#header {
  height:51px;
}

div#header > .content {
  height:auto;
}

div#header div.header-logo, div#header ul.float-right, div#header div.social-icons {
  visibility:visible;
  opacity:1;
  transition:all 250ms linear;
}

div#header .content #logo-menu {
  width:70px;
  height:42px;
}

div#header .content #logo-menu img {
  display:block;
  float:left;
}

div#header .content #logo-menu span {
  float:left;
  padding-top:3px;
  line-height:46px;
  padding-left:10px;
  color:#000;
  font-size:16px;
  text-decoration:none !important;
}

div#header .content > ul {
  margin:0px !important;
}

div#header ul {
  list-style:none;
  font-size:0px;
}

div#header ul li {
  list-style:none;
  margin:0px;
  padding:0px;
  display:inline-block;
}

div#header ul li a {
  font-size:14px;
  text-transform:uppercase;
  font-weight:bold;
  text-decoration:none;
  color:#000;
  position:relative;
}

div#header ul li a:after {
  transition:all 250ms linear;
  position:absolute;
  content:"";
  display:block;
  width:100%;
  height:0px;
  bottom:-5px;
  border-top:1px #000 dotted;
  opacity:0;
  visibility:hidden;
}

div#header ul li a:hover:after {
  bottom:2px;
  opacity:1;
  visibility:visible;
}

div#header ul li:after {
  content:"/";
  display:inline-block;
  width:50px;
  text-align:center;
  font-size:14px;
  font-weight:bold;
}

div#header ul li:nth-last-child(1):after, div#header ul li:nth-last-child(2):after {
  display:none !important;
}

div#header ul li:nth-last-child(1) {
  margin-left:40px;
}

div#header ul li:nth-last-child(1) a:after {
  display:none !important;
}

div#header p.social {
  margin-right:40px;
}

div#header p.social a {
  line-height:49px;
  font-size:22px;
  float:left;
  margin-top:14px;
  margin-right:15px;
  color:#000;
  transition:all 250ms linear;
}

div#header p.social a:hover {
  text-decoration:none !important;
  color:#999;
}

div#header p.social a i {
  display:block;
}

div#header p.social a:last-child {
  margin-right:0px;
}

.template-contact section.page p.social {
  margin-right:40px;
}

.template-contact section.page p.social a {
  line-height:49px;
  font-size:22px;
  float:left;
  margin-right:15px;
  color:#000;
  transition:all 250ms linear;
}

.template-contact section.page p.social a:hover {
  text-decoration:none !important;
  color:#999;
}

.template-contact section.page p.social a i {
  display:block;
}

.template-contact section.page p.social a:last-child {
  margin-right:0px;
}

ul.sidebar-menu {
  list-style:none;
  margin:0px 0px 25px 0px;
  padding:0px;
}

ul.sidebar-menu li {
  font-size:22px;
  text-decoration:none;
  text-transform:uppercase;
  font-weight:800;
  font-family:"FFDINWebMedium", "Open Sans", "Helvetica", sans-serif;

  list-style:none;
  margin:5px 0px;
  padding:0px;
  display:block;
}

ul.sidebar-menu li:first-child {
  margin-top:0px;
}

ul.sidebar-menu li:last-child {
  margin-bottom:0px;
}

ul.sidebar-menu a {
  font-size:22px;
  color:#a7a7a7;
  transition:all 250ms linear;
  text-decoration:none;
  text-transform:uppercase;
  font-weight:800;
  font-family:"FFDINWebMedium", "Open Sans", "Helvetica", sans-serif;
}

ul.sidebar-menu a:hover {
  color:#000;
}

.sidebar-block {
  margin-bottom:25px;
}

.sidebar-block:last-child {
  margin-bottom:0px;
}

div.sidebar h4 {
  font-size:22px;
  font-weight:800;
  font-family:"FFDINWebMedium", "Open Sans", "Helvetica", sans-serif;
}

div.sidebar p.social {
  margin-right:40px;
}

div.sidebar p.social a {
  line-height:49px;
  font-size:22px;
  float:left;
  margin-right:15px;
  color:#000;
  transition:all 250ms linear;
}

div.sidebar p.social a:hover {
  text-decoration:none !important;
  color:#999;
}

div.sidebar p.social a i {
  display:block;
}

div.sidebar p.social a:last-child {
  margin-right:0px;
}

div.sidebar p.social:after {
  content:"";
  display:block;
  clear:both;
}

.hamburger {
  position:relative;
  top:9px;
  margin-left:15px;
}

.hamburger, .hamburger > span, .hamburger:after {
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  -ms-box-sizing:border-box;
  transform:translate3d(0, 0, 0);
}

.hamburger {
  display:block;
  width:28px;
  height:28px;
  position:relative;
  cursor:pointer;
  opacity:0;
}

.hamburger > span {
  display:block;
  width:100%;
  height:5px;
  background:#000;
  position:absolute;
  left:0%;
  margin-top:0px;
  transform-origin:50% 50%;
  /* Initialize */
}

.hamburger > span:nth-child(1) {
  top:0%;
}

.hamburger > span:nth-child(2) {
  top:50%;
}

.hamburger > span:nth-child(3) {
  top:100%;
  /* Hamburger Fade In */
}

.hamburger {
  animation:hamburger-in 1000ms linear forwards;
}

@keyframes hamburger-in {
  /* Animation In */
  from {
    opacity:0;
  }
  50% {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
.hamburger > span:nth-child(1) {
  animation:hamburger-1-in 500ms linear forwards;
}

@keyframes hamburger-1-in {
  from {
    top:50%;
    transform:rotate(-45deg);
  }
  50% {
    top:50%;
    transform:rotate(0deg);
  }
  to {
    top:10%;
  }
}
.hamburger > span:nth-child(2) {
  animation:hamburger-2-in 500ms linear forwards;
}

@keyframes hamburger-2-in {
  from {
    opacity:0;
  }
  50% {
    opacity:0;
  }
  to {
    top:50%;
  }
}
.hamburger > span:nth-child(3) {
  animation:hamburger-3-in 500ms linear forwards;
}

@keyframes hamburger-3-in {
  /* Animation Out */
  from {
    top:50%;
    transform:rotate(45deg);
  }
  50% {
    top:50%;
    transform:rotate(0deg);
  }
  to {
    top:90%;
  }
}
.hamburger.click > span:nth-child(1) {
  animation:hamburger-1-out 500ms linear forwards;
}

@keyframes hamburger-1-out {
  from {
    top:10%;
  }
  50% {
    top:50%;
    transform:rotate(0deg);
  }
  to {
    top:50%;
    transform:rotate(-45deg);
  }
}
.hamburger.click > span:nth-child(2) {
  animation:hamburger-2-out 500ms linear forwards;
}

@keyframes hamburger-2-out {
  from {
    top:50%;
  }
  50% {
    opacity:0;
  }
  to {
    opacity:0;
  }
}
.hamburger.click > span:nth-child(3) {
  animation:hamburger-3-out 500ms linear forwards;
}

@keyframes hamburger-3-out {
  from {
    top:90%;
  }
  50% {
    top:50%;
    transform:rotate(0deg);
  }
  to {
    top:50%;
    transform:rotate(45deg);
  }
}
.grid-team h3 {
  margin:20px 0px 0px !important;
  font-size:22px !important;
}

.grid-team h4 {
  margin:0px 0px 20px !important;
  font-size:22px !important;
  color:#718187;
}

.grid-team p.text {
  font-size:16px !important;
}

.grid-team p.social a {
  color:#000;
  transition:all 250ms linear;
  margin-right:5px;
}

.grid-team p.social a:hover {
  color:#718187;
}

.grid-team p.social a:last-child {
  margin-right:0px;
}

.grid-team > div {
  margin-top:25px;
}

.grid-team > div:nth-child(1), .grid-team > div:nth-child(2), .grid-team > div:nth-child(3) {
  margin-top:0px !important;
}

div.pagination span, div.pagination a {
  background-color:#000;
  color:#fff;
  display:block;
  transition:all 250ms linear;
  float:left;
  line-height:40px;
  margin-right:5px;
  padding:3px 15px 0px;
}

div.pagination a {
  text-decoration:none;
}

div.pagination a:hover {
  text-decoration:none;
  background-color:#718187;
}

div.pagination .current {
  background-color:#718187 !important;
}

.template-contact .ninja-forms-form-wrap input[type="submit"], .template-form .ninja-forms-form-wrap input[type="submit"] {
  background-color:rgba(0, 0, 0, 0.75);
  border-radius:0px;
  color:#fff !important;
  display:inline-block;
  line-height:45px;
  padding:2px 40px 0px;
  text-decoration:none !important;
  position:relative;
  top:0px;
  cursor:pointer;
  border:0px;
  transition:all 150ms linear;
  text-transform:uppercase;
  font-size:14px !important;
  border:2px #fff solid;
  font-weight:normal !important;
}

.template-contact .ninja-forms-form-wrap input[type="submit"]:active, .template-form .ninja-forms-form-wrap input[type="submit"]:active {
  background-color:#000;
  transform:scale(0.95);
}

.template-contact .ninja-forms-form-wrap input[type="text"], .template-form .ninja-forms-form-wrap input[type="text"], .template-contact .ninja-forms-form-wrap input[type="tel"], .template-form .ninja-forms-form-wrap input[type="tel"], .template-contact .ninja-forms-form-wrap input[type="email"], .template-form .ninja-forms-form-wrap input[type="email"], .template-contact .ninja-forms-form-wrap textarea, .template-form .ninja-forms-form-wrap textarea, .template-contact .ninja-forms-form-wrap select, .template-form .ninja-forms-form-wrap select {
  font-size:20px;
  border:1px #000 solid;
  padding:10px 10px 5px;
  box-sizing:border-box;
  appearance:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  -o-appearance:none;
  -ms-appearance:none;
}

.template-contact .ninja-forms-form-wrap select, .template-form .ninja-forms-form-wrap select {
  background-image:url("../assets/img/select-arrow.png");
  background-position:center right;
  background-repeat:no-repeat;
}

.template-contact .ninja-forms-form-wrap textarea, .template-form .ninja-forms-form-wrap textarea {
  resize:vertical;
  min-height:262px;
  max-height:400px;
}

.template-contact .ninja-forms-form-wrap .ninja-forms-required-items, .template-form .ninja-forms-form-wrap .ninja-forms-required-items {
  display:none !important;
}

.template-contact .ninja-forms-form-wrap .nf-desc, .template-form .ninja-forms-form-wrap .nf-desc {
  margin-bottom:25px;
}

.template-contact .ninja-forms-form-wrap .text-wrap label, .template-form .ninja-forms-form-wrap .text-wrap label, .template-contact .ninja-forms-form-wrap .textarea-wrap label, .template-form .ninja-forms-form-wrap .textarea-wrap label {
  display:none !important;
}

.template-contact .ninja-forms-form-wrap .checkbox-wrap label, .template-form .ninja-forms-form-wrap .checkbox-wrap label {
  font-size:20px;
}

.template-contact .ninja-forms-form-wrap .ninja-forms-field-error p, .template-form .ninja-forms-form-wrap .ninja-forms-field-error p {
  font-size:14px;
  font-style:italic;
  margin-top:5px !important;
}

.template-contact .ninja-forms-form-wrap .ninja-forms-response-msg, .template-form .ninja-forms-form-wrap .ninja-forms-response-msg {
  display:none !important;
}

.template-contact .ninja-forms-form-wrap #ninja_forms_field_11, .template-form .ninja-forms-form-wrap #ninja_forms_field_11 {
  margin:0px 10px 0px 0px;
  position:relative;
  top:0px;
}

p.social:after {
  content:"";
  display:block;
  clear:both;
}

.get-involved-form {
  padding:50px;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  -ms-box-sizing:border-box;
  background-image:url("../assets/img/form-background.jpg");
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}

.get-involved-form #ninja_forms_field_12_label {
  color:#fff;
  font-family:"FFDINWebMedium""Open Sans", "Helvetica", sans-serif !important;
  font-size:22px !important;
  text-transform:uppercase;
}

.get-involved-form #ninja_forms_field_12_label {
  width:10%;
  line-height:50px;
}

.get-involved-form #ninja_forms_field_12 {
  width:90%;
  float:right;
  margin:0px !important;
}

.get-involved-form #ninja_forms_field_15_div_wrap, .get-involved-form #ninja_forms_field_17_div_wrap {
  width:49%;
  margin:0px !important;
  float:left;
  margin-bottom:20px !important;
}

.get-involved-form #ninja_forms_field_15_div_wrap:after, .get-involved-form #ninja_forms_field_17_div_wrap:after {
  content:"";
  clear:both;
  display:block;
}

.get-involved-form #ninja_forms_field_16_div_wrap, .get-involved-form #ninja_forms_field_18_div_wrap {
  width:49%;
  margin:0px !important;
  float:right;
  margin-bottom:20px !important;
}

.get-involved-form #ninja_forms_field_16_div_wrap:after, .get-involved-form #ninja_forms_field_18_div_wrap:after {
  content:"";
  clear:both;
  display:block;
}

.get-involved-form #ninja_forms_field_19_div_wrap {
  clear:both;
}

@-moz-document url-prefix() {
  /* Webkit */
  footer .newsletter #newsletter form input[type="submit"] {
    line-height:38px;
    top:-1px;
  }
}
@media (min-width:1200px) {
  header .home-page-logo-wide {
    visibility:visible !important;
  }

  header .home-page-logo-narrow {
    visibility:hidden !important;
  }

  .no-desktop {
    display:none !important;
  }

  div#header.fixed {
    padding:5px 0px 5px;
    background-color:#fff;
    box-shadow:0px 0px 15px rgba(0, 0, 0, 0.1);
  }

  div#header.hidden {
    height:0px;
    background-color:rgba(255, 255, 255, 0);
    box-shadow:0px 0px 15px transparent;
  }

  div#header.hidden > .content {
    height:0px;
  }

  div#header.hidden div.header-logo, div#header.hidden ul.float-right, div#header.hidden div.social-icons {
    visibility:hidden;
    opacity:0;
    transform:translateY(-50px);
  }

  div.content {
    max-width:94% !important;
    margin-left:0px;
    margin-right:0px;
  }

  .grid-12 img.unveil.block {
    max-width:100%;
  }

  .grid-12-6 img.unveil.block {
    max-width:100%;
  }

}
@media (min-width:760px) and (max-width:1199px) {
  header .home-page-logo-wide {
    visibility:visible !important;
  }

  header .home-page-logo-narrow {
    visibility:hidden !important;
  }

  footer div.grid-12 > div {
    width:100%;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:50px;
  }

  footer .logo {
    margin:0px auto;
  }

  footer .menu > div {
    margin:50px 0px 0px;
    float:none;
    text-align:center;
  }

  footer .menu > div:nth-child(2), footer .menu > div:nth-child(3), footer .menu > div:nth-child(4) {
    width:33.33333% !important;
    float:left;
  }

  footer .menu ul li:first-child {
    margin-top:0px !important;
  }

  footer .menu ul li:last-child {
    margin-bottom:0px !important;
  }

  footer .copyright {
    margin-top:50px !important;
    padding-top:50px;
  }

  footer .copyright .float-left, footer .copyright .float-right {
    float:none;
    text-align:center;
  }

  footer .copyright .float-left span, footer .copyright .float-right span {
    display:block;
    margin:0px;
  }

  footer .copyright .float-right {
    margin-top:15px;
  }

  .button {
    padding-left:20px !important;
    padding-right:20px !important;
  }

  .no-mobile {
    display:none !important;
  }

  .template-home section {
    padding-top:0px;
    padding-bottom:50px;
  }

  .template-home section#welcome {
    padding-top:50px;
  }

  .template-home section img.unveil {
    min-width:100%;
  }

  div.content-category section {
    padding-top:0px;
    padding-bottom:50px;
  }

  div.content-category section:first-child {
    padding-top:50px;
  }

  div.content-category section img.unveil {
    min-width:100%;
  }

  div.content {
    max-width:94% !important;
    margin-left:0px;
    margin-right:0px;
  }

  img.unveil {
    max-width:100%;
    height:auto !important;
  }

  img.unveil-footer {
    max-width:288 !important;
    max-height:136 !important;
  }

  div.grid-12 > div {
    width:100%;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:50px;
  }

  div.grid-12 > div.font-0 {
    display:none !important;
  }

  div.grid-3 > div {
    width:100%;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:25px;
  }

  div.grid-3 > div.font-0 {
    display:none !important;
  }

  section h1 {
    font-size:38px !important;
  }

  section h2 {
    font-size:28px !important;
  }

  section h3 {
    font-size:18px !important;
  }

  section ul.sidebar-menu a, section h4, section h5, section h6 {
    font-size:18px !important;
  }

  section p {
    font-size:16px !important;
  }

  section img.size-full {
    max-width:100%;
    height:auto !important;
  }

  header .logo {
    width:80px !important;
  }

  header .logo img {
    width:80px !important;
    height:auto !important;
  }

  header h1 {
    font-size:38px !important;
  }

  div#header ul.float-right {
    visibility:hidden;
    opacity:0;
    position:fixed;
    top:20%;
    left:0px;
    transition:all 250ms linear;
    -webkit-transition:all 250ms linear;
    -moz-transition:all 250ms linear;
    -o-transition:all 250ms linear;
    -ms-transition:all 250ms linear;
    padding:0px 50px 0px;
    top:150px;
    width:100%;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
  }

  div#header .hamburger {
    display:block;
  }

  div#header {
    z-index:900;
    top:0px;
    position:fixed;
    width:100%;
    box-shadow:0px 0px 15px transparent;
    padding:15px 0px;
    transition:all 150ms linear;
  }

  div#header .hamburger {
    z-index:10;
  }

  div#header.fixed {
    box-shadow:0px 0px 15px rgba(0, 0, 0, 0.1);
    background-color:rgba(255, 255, 255, 0.95);
  }

  div#header ul.float-right {
    visibility:hidden;
    opacity:0;
    top:-50%;
    height:140%;
    padding-top:100px;
    padding-bottom:0px;
    box-shadow:0px 0px 200px rgba(0, 0, 0, 0.35);
    background-color:rgba(255, 255, 255, 0.95);
  }

  div#header ul.float-right > li:first-child {
    margin-top:0px !important;
  }

  div#header ul.float-right > li:last-child {
    margin-bottom:0px !important;
  }

  div#header.hidden ul.float-right {
    visibility:hidden;
    opacity:0;
    top:-50%;
  }

  div#header.hidden.fixed {
    background-color:rgba(255, 255, 255, 0.95);
  }

  div#header.activated {
    background-color:rgba(255, 255, 255, 0.95);
  }

  div#header.activated ul.float-right {
    top:0%;
    visibility:visible !important;
    opacity:1 !important;
  }

  div#header p.social {
    margin-right:10px;
  }

  div#header p.social a {
    margin-top:16px !important;
  }
}
@media (min-width:760px) and (max-width:1199px) and (orientation:landscape) {
  header .home-page-logo-wide {
    visibility:visible !important;
  }

  header .home-page-logo-narrow {
    visibility:hidden !important;
  }

  div#header ul.float-right {
    text-align:center;
  }

  div#header ul.float-right li {
    margin:0px 10px 0px 10px;
  }

  div#header ul.float-right li:after {
    display:none !important;
  }

  div#header ul.float-right li:last-child {
    display:block !important;
    margin:25px auto 0px auto !important;
  }
}
@media (min-width:760px) and (max-width:1199px) and (orientation:portrait) {
  header .home-page-logo-wide {
    visibility:hidden !important;
  }

  header .home-page-logo-narrow {
    visibility:visible !important;
  }

  div#header ul.float-right li {
    display:block;
    margin:25px 0px !important;
    text-align:center;
  }

  div#header ul.float-right li:after {
    display:none !important;
  }

  div#header ul.float-right li a {
    font-size:30px;
  }

  div#header ul.float-right li a:after {
    display:none !important;
  }
}
@media (max-width:759px) {
  header .home-page-logo-wide {
    visibility:hidden !important;
  }

  header .home-page-logo-narrow {
    visibility:visible !important;
  }

  footer .logo {
    margin:0px auto;
  }

  footer .menu > div {
    margin:50px 0px 0px;
    float:none;
    text-align:center !important;
  }

  footer .menu ul li:first-child {
    margin-top:0px !important;
  }

  footer .menu ul li:last-child {
    margin-bottom:0px !important;
  }

  footer .menu p.social:after {
    content:"";
    display:block;
    clear:both;
  }

  footer .copyright {
    margin-top:50px !important;
    padding-top:50px;
  }

  footer .copyright .float-left, footer .copyright .float-right {
    float:none;
    text-align:center;
  }

  footer .copyright .float-left span, footer .copyright .float-right span {
    display:block;
    margin:0px;
  }

  footer .copyright .float-right {
    margin-top:15px;
  }

  .button {
    padding-left:20px !important;
    padding-right:20px !important;
  }

  .no-mobile {
    display:none !important;
  }

  .template-home section {
    padding-top:0px;
    padding-bottom:50px;
  }

  .template-home section#welcome {
    padding-top:50px;
  }

  .template-home section img.unveil {
    min-width:100%;
  }

  div.content-category section {
    padding-top:0px;
    padding-bottom:50px;
  }

  div.content-category section:first-child {
    padding-top:50px;
  }

  div.content-category section img.unveil {
    min-width:100%;
  }

  div.content {
    width:94% !important;
    margin-left:0px;
    margin-right:0px;
  }

  img.unveil {
    max-width:100%;
    height:auto !important;
  }

  .grid-12 img.unveil.block {
    max-width:100%;
  }

  .grid-12-6 img.unveil.block {
    max-width:100%;
  }

  div.grid-12 > div {
    width:100%;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:50px;
  }

  div.grid-12 > div.font-0 {
    display:none !important;
  }

  div.grid-3 > div {
    width:100%;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:25px;
  }

  div.grid-3 > div.font-0 {
    display:none !important;
  }

  section h1 {
    font-size:38px !important;
  }

  section h2 {
    font-size:28px !important;
  }

  section h3 {
    font-size:18px !important;
  }

  section ul.sidebar-menu a, section h4, section h5, section h6 {
    font-size:18px !important;
  }

  section p {
    font-size:16px !important;
  }

  section img.size-full {
    max-width:100%;
    height:auto !important;
  }

  header .logo {
    width:80px !important;
  }

  header .logo img {
    width:80px !important;
    height:auto !important;
  }

  header h1 {
    font-size:38px !important;
  }

  div#header ul.float-right {
    visibility:hidden;
    opacity:0;
    position:fixed;
    top:20%;
    left:0px;
    transition:all 250ms linear;
    -webkit-transition:all 250ms linear;
    -moz-transition:all 250ms linear;
    -o-transition:all 250ms linear;
    -ms-transition:all 250ms linear;
    padding:0px 50px 0px;
    top:150px;
    width:100%;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
  }

  div#header .hamburger {
    display:block;
  }

  div#header {
    z-index:900;
    top:0px;
    position:fixed;
    width:100%;
    box-shadow:0px 0px 15px transparent;
    padding:15px 0px;
    transition:all 150ms linear;
  }

  div#header .hamburger {
    z-index:10;
  }

  div#header.fixed {
    box-shadow:0px 0px 15px rgba(0, 0, 0, 0.1);
    background-color:rgba(255, 255, 255, 0.95);
  }

  div#header ul.float-right {
    visibility:hidden;
    opacity:0;
    top:-50%;
    height:140%;
    padding-top:100px;
    padding-bottom:0px;
    box-shadow:0px 0px 200px rgba(0, 0, 0, 0.35);
    background-color:rgba(255, 255, 255, 0.95);
  }

  div#header ul.float-right > li:first-child {
    margin-top:0px !important;
  }

  div#header ul.float-right > li:last-child {
    margin-bottom:0px !important;
  }

  div#header.hidden ul.float-right {
    visibility:hidden;
    opacity:0;
    top:-50%;
  }

  div#header.hidden.fixed {
    background-color:rgba(255, 255, 255, 0.95);
  }

  div#header.activated {
    background-color:rgba(255, 255, 255, 0.95);
  }

  div#header.activated ul.float-right {
    top:0%;
    visibility:visible !important;
    opacity:1 !important;
  }

  div#header p.social {
    margin-right:10px;
  }

  div#header p.social a {
    margin-top:16px !important;
  }

  #ninja_forms_field_12_label {
    width:100% !important;
    line-height:50px;
  }

  #ninja_forms_field_12 {
    width:100% !important;
    float:right;
    margin:0px !important;
  }
}
@media (max-width:759px) and (orientation:landscape) {
  header .home-page-logo-wide {
    visibility:hidden !important;
  }

  header .home-page-logo-narrow {
    visibility:visible !important;
  }

  div#header ul.float-right {
    text-align:center;
  }

  div#header ul.float-right li {
    margin:0px 10px 0px 10px;
  }

  div#header ul.float-right li:after {
    display:none !important;
  }

  div#header ul.float-right li:last-child {
    display:block !important;
    margin:25px auto 0px auto !important;
  }
}
@media (max-width:759px) and (orientation:portrait) {
  header .home-page-logo-wide {
    visibility:hidden !important;
  }

  header .home-page-logo-narrow {
    visibility:visible !important;
  }
  
  div#header ul.float-right li {
    display:block;
    margin:25px 0px !important;
    text-align:center;
  }

  div#header ul.float-right li:after {
    display:none !important;
  }

  div#header ul.float-right li a {
    font-size:30px;
  }

  div#header ul.float-right li a:after {
    display:none !important;
  }
}

body, html, input, select, textarea {
  font-size:16px;
  line-height:125%;
  font-family:"FFDINWebMedium", "Open Sans", "Helvetica", sans-serif;
  color:#000;
  font-smooth:always;
  -webkit-font-smoothing:antialiased;
}

.open-sans {
  font-family:"FFDINWebMedium", "Open Sans", "Helvetica", sans-serif;
}

sub, sup {
  font-size:10px;
  position:relative;
}

b, strong {
  font-weight:bold;
}

em, i {
  font-style:italic;
}

p {
  font-family:"FFDINWebMedium", "Open Sans", "Helvetica", sans-serif;
  line-height:125%;
}

sup {
  top:-5px;
}

sub {
  top:3px;
}

div.content {
  width:1278px;
  margin:0px auto;
}

div.content:after {
  content:"";
  display:block;
  clear:both;
}

.clear {
  clear:both;
}

.float-left {
  float:left;
}

.float-right {
  float:right;
}

.text-left {
  text-align:left;
}

.text-right {
  text-align:right;
}

.text-center {
  text-align:center;
}

.text-justify {
  text-align:justify;
}

.block {
  display:block;
  /* Box */
}

.box {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
  /* Animation */
}

.animate {
  -webkit-transition:all 250ms linear;
  -moz-transition:all 250ms linear;
  -o-transition:all 250ms linear;
  transition:all 250ms linear;
  /* Vertical Align */
}

.v-align {
  display:table;
  width:100%;
  height:inherit;
}

.v-align > * {
  display:table-cell;
  vertical-align:middle;
  height:inherit;
  /* Buttons */
}

.button {
  background-color:rgba(50, 10, 70, 0.75);
  border-radius:0px;
  color:#fff !important;
  display:inline-block;
  line-height:45px;
  padding:2px 40px 0px;
  text-decoration:none !important;
  position:relative;
  top:0px;
  transition:all 150ms linear;
  text-transform:uppercase;
  font-size:14px !important;
  border:2px #fff solid;
  font-weight:normal !important;
}

.button:active {
  transform:scale(0.95);
  /* Button Colors */
}

.button.black {
  background-color:rgba(0, 0, 0, 0.75);
}

.button.black:hover {
  background-color:#000;
}

.button.blue {
  background-color:rgba(53, 176, 229, 0.75);
}

.button.blue:hover {
  background-color:#35b0e5;
  /* Margins */
}

.m-top-50 {
  margin-top:50px !important;
  /*
  margin-left:20px !important;
  margin-right:20px !important;
  */
}

<!-- begin Mail Chimp styles -->

#mc_embed_signup {
    background: #fff;
    clear: left;
    line-height: 50px !important;
    font: 16px FFDINWebMedium, OpenSans, Helvetica, Arial, sans-serif;
}

label {
    display: block;
    width: auto;
    margin-top: 8px;
    font-weight: bold;
}

.mergeRow {
    padding: 0 0 6px 0 !important;
    clear: both;
}

.field-group {
    position: relative;
    margin: 3px 0 12px 0;
    overflow: hidden;
    background: transparent !important;
}

.mergeRow-radio .field-group, .mergeRow-interests-checkboxes .field-group {margin-bottom: 6px;}

input, textarea, select {
    display: block;
    margin: 0;
    padding: 10px;
    background: #fff;
    width: 100%;
    border: 2px solid #d0d0d0 !important;
    border-radius: 3px;
    -webkit-appearance: none;
}

.field-group input, select, textarea, .dijitInputField {
    font-size: 16px;
}

.field-group.error > input,
.field-group.error > select,
.field-group.error .subfields,
.field-group.error textarea {
    border-color: #e85c41 !important;
}

textarea {
    font: 14px/18px FFDINWebMedium, OpenSans, Helvetica, Arial, sans-serif;
    width: 75%;
    height: 150px;
    overflow: auto;
}

/* Firefox always displays native select arrow button, so hide the background image arrow. */
@-moz-document url-prefix() {
    select {
	padding: 8px;
	background-position: -99px 0 !important;
	-moz-appearance: none;
    }
}

input:focus, textarea:focus, select:focus, .focused-field .subfields {
    border-color: #5d5d5d !important;
    outline: none;
}

/* Prevent Chrome's autofill yellow box shadow */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.focused-field .field-help, input:focus + .field-help {
    display: block;
    padding: 10px 0;
    max-height: 100px;
}

.indicates-required {text-align: right;}
.indicates-required span {
    font-size: 150%;
    font-weight: bold;
    display: inline !important;
}

.formstatus {
    margin-bottom: 12px;
    font-size: 18px;
}

/* Groups, checkboxes, radio buttons */
ul.interestgroup_field,
ul.interestgroup_field li,
ul.unsub-options,
ul.unsub-options li,
.interestgroup_row {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Birthday & US phone field */
.subfields {
    display: block;
    margin: 0;
    padding: 8px 10px;
    background: #fff;
    width: 100%;
    border: 2px solid #d0d0d0;
    border-radius: 3px;
    color: #d0d0d0
}
.subfields input {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 2.5em;
    border: none !important;
    text-align: center;
}
.subfields label {display: none;}
.phonedetail2 input {width: 3.4em;}

.borderbox, .field-help, input, textarea, select {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.field-shift {
    left: -9999px; position: absolute;
}

html[dir="rtl"] .field-shift {
    right: -9999px;
    left: auto;
}


.button:link,.button:active,.button:visited,.button,.button span{
    background-color: #000000 !important;
    color: #ffffff !important;
    width: 33%;
}

.button:hover{
    background-color: #35B0E5 !important;
    color: #ffffff !important;
}

.field-group input,select,textarea,.dijitInputField{
    font-family:  FFDINWebMedium, OpenSans, Helvetica, Arial, sans-serif;
    color: #35b0e5; !important;
}

.asterisk{
    color: #35B0E5;
    font-size: 20px;
}

.error,.errorText{
    color: #e85c41;
    font-weight: normal;
}

<!-- end Mail Chimp styles -->
